source https://nuget.org/api/v2

nuget AWSSDK ~> 2.3
nuget FSharp.Control.Reactive ~> 3.2
nuget FSharp.Core ~> 3.1.2
nuget FSharp.Formatting
nuget Foq
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget log4net