<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.0.3.1" targetFramework="net40" />
  <package id="FSharp.Reactive" version="2.2.131002" targetFramework="net40" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="net40" />
</packages>